<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <nav>
      <button mat-flat-button color="link" routerLink="/panel">Panel</button>
      <button mat-flat-button color="link" routerLink="/ejercicios">Ejercicios</button>
      <button mat-flat-button color="link" routerLink="/testDB">Test DB</button>
  </nav>
  <button mat-flat-button color="primary" routerLink="/panel" aria-label="Example icon button with a heart icon">
    <mat-icon>home</mat-icon>
  </button>
  </mat-toolbar-row>
</mat-toolbar>

<br />

<br/>
<router-outlet></router-outlet>
