<h2>Listado de Ejercicios</h2>
<ul class="ejercicios">
  <li *ngFor="let ejercicio of ejercicios" (click)="onSelectEjercicio(ejercicio)">
    <a routerLink="/detalle/{{ejercicio.id}}">
      <span class="ejercicio">{{ejercicio.id}}</span> {{ejercicio.name}}
    </a>
  </li>
</ul>
<br />

<mat-list>
  <div mat-subheader >Folders</div>
  <mat-list-item *ngFor="let ejercicio of ejercicios">
    <mat-icon color="primary" mat-list-icon>folder</mat-icon>
    <div mat-line >
      <span color="primary" class="ejercicio">{{ejercicio.id}}</span> {{ejercicio.name}}
    </div>
  </mat-list-item>
</mat-list>
