<div *ngIf="ejercicio">
  <h2>{{ejercicio.name | uppercase}}</h2>
  <div>
    <span>id: </span> {{ejercicio.id}}
  </div>
  <div>
    <label>nombre:
      <input [(ngModel)]="ejercicio.name" placeholder="nombre">
    </label>
  </div>
  <button (click)="goBack()"> Ir atrás</button>
</div>


